<nav class="nav">
    <div class="brand">
        <a href="/"><h1>CodegNet</h1></a>
    </div>

    <ul class="navItems">
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="">Contact</a></li>
    </ul>

    <a href="/contact"><button>Contact Us</button></a>
</nav>