.main{
    .container{
        
        .about{
            margin-top: 8rem;
            width: 80%;
            margin-inline: auto;
            text-align: center;
            line-height: 2rem;
            font-size: 1.2rem;

            .team{
                margin-top: 8rem;
                display: flex;
                justify-content: space-around;

                .person{

                    img{
                        width: 15rem;
                        height: 15rem;
                        object-fit: cover;
                        border-radius: 1rem;
                        border: .4rem solid var(--color-teal);
                    }

                    p{
                        margin-top: .5rem;
                    }
                }
            }
        }
    }
}