<!-- html head -->
<%- include('../partials/html-header.ejs')%>

<main class="main">
    <div class="container">

        <!-- nav Content -->
        <%- include('../partials/navbar.ejs')%>

        <div class="about">
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. A repellendus maxime fuga sunt illo perspiciatis 
                eaque! Repellendus est natus mollitia, ducimus, doloribus hic sit voluptatibus praesentium molestiae provident, 
                recusandae aut similique voluptatem doloremque ipsum facilis veritatis dolorum aspernatur obcaecati maiores. <br>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. A repellendus maxime fuga sunt illo perspiciatis 
                eaque! Repellendus est natus mollitia, ducimus, doloribus hic sit voluptatibus praesentium molestiae provident, 
                recusandae aut similique voluptatem doloremque ipsum facilis veritatis dolorum aspernatur obcaecati maiores. <br>
            </p>

            <div class="team">
                
                <div class="person">
                    <img src="https://source.unsplash.com/ZHvM3XIOHoE" alt="">
                    <p>Full Stack Developer</p>
                </div>

                <div class="person">
                    <img src="https://source.unsplash.com/WNoLnJo7tS8" alt="">
                    <p>Frontend Developer</p>
                </div>

                <div class="person">
                    <img src="https://source.unsplash.com/RiDxDgHg7pw" alt="">
                    <p>Backend Developer</p>
                </div>
            </div>
        </div>
    </div>
</main>

<!-- footer Content -->
<%- include('../partials/html-footer.ejs')%>