<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
    
    <main class="main">
        <div class="container">

            <nav class="nav">
                <div class="brand">
                    <h1>CodegNet</h1>
                </div>

                <div class="navItems">
                    <ul>
                        <li><a href="/" class="home"></a></li>
                        <li><a href="/about" class="about"></a></li>
                        <li><a href="/contact" class="contact"></a></li>
                    </ul>
                </div>
            </nav>
        </div>
    </main>

</body>
</html>