<!-- html head -->
<%- include('../partials/html-header.ejs')%>
    
    <main class="main">
        <div class="container">

            <!-- nav Content -->
            <%- include('../partials/navbar.ejs')%>

            <div class="header">
                <p>We developer high tech software development. Experienced in 2 decades in IT industry, we can simply
                    guide and help achieve your dream project.
                </p>

                <div class="headerBottom">
                    <h1>WORK DIRECTLY WITH TOP <br> IT PROFESSIONAL </h1>
                    <div class="cta">
                        <img src="/images/arrow.png" alt="arrow">
                        <p>Contact Us</p>
                    </div>
                </div>
            </div>
        </div>
    </main>

<!-- footer Content -->
<%- include('../partials/html-footer.ejs')%>
