<!-- html head -->
<%- include('../partials/html-header.ejs')%>
    
    <main class="main">
        <div class="container">

            <!-- nav Content -->
            <%- include('../partials/navbar.ejs')%>

            <div class="notfound">
                <h1>404</h1>
                <h3>Not Found</h3>
            </div>

        </div>
    </main>

<!-- footer Content -->
<%- include('../partials/html-footer.ejs')%>